## Assignment 4 - Speed Dating

Precicting the variable dec_o with Kaggle Data Set by K-Nearest Neighbor Algorithm (KNN). The k-nearest neighbors (KNN) algorithm is a simple, supervised machine learning algorithm that can be used to solve both classification and regression problems.

In [1]:
# Importing all Required packages for the assignment
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
# Chosing Speed dating Experiment data Set

df = pd.read_csv('Speed Dating Data.csv', encoding = 'unicode_escape')
df.head(10)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
5,1,1.0,0,1,1,1,10,7,NaN,6,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
6,1,1.0,0,1,1,1,10,7,NaN,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
7,1,1.0,0,1,1,1,10,7,NaN,2,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
8,1,1.0,0,1,1,1,10,7,NaN,8,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
9,1,1.0,0,1,1,1,10,7,NaN,9,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [3]:
# Generating the subset and droping NA's
# Selecting 8 variables with strong predictive value
df_subset = df[['dec_o', 'age', 'samerace', 'fun_o', 'match', 'attr_o', 'like_o', 'prob_o']]
df_subset = df_subset.dropna()

df_subset.head() #The head()of the resulting data frame

   dec_o   age  samerace  fun_o  match  attr_o  like_o  prob_o
0      0  21.0         0    8.0      0     6.0     7.0     4.0
1      0  21.0         0    7.0      0     7.0     8.0     4.0
2      1  21.0         1   10.0      1    10.0    10.0    10.0
3      1  21.0         0    8.0      1     7.0     7.0     7.0
4      1  21.0         0    6.0      1     8.0     8.0     6.0

In [4]:
df_subset.corr() # checking the co-relation int the resulting data set

,dec_o,age,samerace,fun_o,match,attr_o,like_o,prob_o
dec_o,1.000000,-0.050464,0.022131,0.413847,0.522382,0.491419,0.513857,0.311893
age,-0.050464,1.000000,-0.004239,-0.041268,-0.034826,-0.053575,-0.043676,-0.009172
samerace,0.022131,-0.004239,1.000000,0.012596,0.011421,0.052488,0.043085,0.088332
fun_o,0.413847,-0.041268,0.012596,1.000000,0.276611,0.586954,0.689014,0.381084
match,0.522382,-0.034826,0.011421,0.276611,1.000000,0.265609,0.307651,0.256246
attr_o,0.491419,-0.053575,0.052488,0.586954,0.265609,1.000000,0.669170,0.270273
like_o,0.513857,-0.043676,0.043085,0.689014,0.307651,0.669170,1.000000,0.470465
prob_o,0.311893,-0.009172,0.088332,0.381084,0.256246,0.270273,0.470465,1.000000

The output shows co-relations among variables , so we can apply K-Nearest Neighbour Algorithm by first spliting the data set into training and test set .

In [5]:

X = df_subset[['age', 'samerace', 'fun_o', 'match', 'attr_o', 'like_o', 'prob_o']] #create the X matrix
y = df_subset['dec_o'] #create the y-variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1) #split the data, store it into different variables

In [6]:

from sklearn.neighbors import KNeighborsClassifier # Object class

knn = KNeighborsClassifier(n_neighbors = 6) # KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) # Fits the k-nearest neigbor model 
knn.score(X_test, y_test)

0.7696245733788396

The accuracy shows the Model around 77% .

In [7]:

from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[1206,  162],
       [ 378,  598]], dtype=int64)

In [8]:
conf_matrix = pd.DataFrame(cm, index=['Match (actual)', 'No match (actual)'], columns = ['Match (predicted)', 'No match (predicted)']) 
# conf matrix, columns are always the predicted values
conf_matrix

                   Match (predicted)  No match (predicted)
Match (actual)                  1206                   162
No match (actual)                378                   598

Calculating , Recall and Precision :

Recall = 1131/1131+237  = .82 %

82% the predicted "Decisions Yes" are in real "No"Decisions.
....................
...................

Precision = 1131/1131+314 = .78 %

78% of the Decisions"Yes"are predicted as decisions "Yes"